NewsClassifier/bin
docs/other_resources
docs/master/naivebayes.aux
docs/master/naivebayes.bbl
docs/master/naivebayes.blg
docs/master/naivebayes.log
docs/master/naivebayes.out
docs/master/naivebayes.tex.backup
